<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-6 col-md-8 mb-2 mx-auto">

<ul class="nav nav-justified nav-tabs" id="justifiedTab" role="tablist">
  <li class="nav-item">
    <a aria-controls="index" aria-selected="true" class="nav-link active" href="/groups/index" id="index-tab" role="tab">一覧</a>
  </li>
  <li class="nav-item">
    <a aria-controls="search" aria-selected="false" class="nav-link" href="/groups/search" id="search-tab" role="tab">検索</a>
  </li>
  <li class="nav-item">
    <a aria-controls="new" aria-selected="false" class="nav-link" href="/groups/new" id="new-tab" role="tab">作成</a>
  </li>
</ul>

<% @groupUsers.each do |groupUser| %>
  <div class="mx-0" style="width: 100px">グループ名: <%= groupUser.fetch_group.group_name %></div>

<%= form_tag("#", class: "ml-auto") do %>
    <button class="btn btn-info" type="submit">申請中</button>
    <% end %>
<%= form_tag("#", class: "ml-5") do %>
<button class="btn btn-info" type="submit">参加中</button>
<% end %>

<%= form_tag("#", class: "ml-5") do %>
<button class="btn btn-info" type="submit">退会する</button>
<% end %>

<% end %>



</div>
</div>
</div>