<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-6 col-md-8 mb-2 mx-auto">

<h2>下はタブにする</h2>
<a href="/groups/index">
  <button>参加グループ</button>
</a>
<a href="/groups/search">
  <button>グループ検索</button>
</a>
<a href="/groups/new">
	<button>グループ作成</button>
</a>

<% @groupUsers.each do |groupUser| %>
	<div class="mx-0" style="width: 100px">グループ名: <%= groupUser.fetch_group.group_name %></div>

<%= form_tag("#", class: "ml-auto") do %>
    <button class="btn btn-info" type="submit">申請中</button>
    <% end %>
<%= form_tag("#", class: "ml-5") do %>
<button class="btn btn-info" type="submit">参加中</button>
<% end %>

<%= form_tag("#", class: "ml-5") do %>
<button class="btn btn-info" type="submit">退会する</button>
<% end %>

<% end %>


</div>
</div>
</div>