<div class="container">
	<div class="users-container">

	  <%= form_tag("/login") do %>
	    <p>メールアドレス</p>
        <input type="text" name="email" value="<%= @email %>">
        <p>パスワード</p>
        <input type="password" name="password">
        <input type="submit" value="投稿">
      <% end %>
	</div>
</div>