<div class="container">
    <div class="form-row">
        <div class="col-lg-6 col-md-8 mb-2 mx-auto">
            <h3>Emailでログインする</h3>
        </div>
    </div>
    <%= form_tag("/login") do %>
        <div class="form-group">
            <div class="col-lg-6 col-md-8 mb-2 mx-auto mt-2 floating-label" style="background-color: rgb(250, 255, 189) !important; padding-left: 0; padding-right: 0;">
                <label>Email</label>
                <input type="text" class="form-control" name="email" placeholder="" value="<%= @email %>" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6 col-md-8 mb-2 mx-auto mt-2 floating-label" style="background-color: rgb(250, 255, 189) !important; padding-left: 0; padding-right: 0;">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-6 col-md-8 mb-2  mt-2 mx-auto">
                <button class="btn btn-light ml-auto" type="submit">ログイン</button>
            </div>
        </div>
        <% end %>
            <div class="form-row">
                <div class="col-lg-6 col-md-8 mb-2  mt-2 mx-auto">
                    パスワードを忘れた場合<a href="#">ここ</a>をクリック
                </div>
            </div>
</div>