<div class="container">
	<div class="users-container">
      <%= form_tag("/users/create") do %>
        <p>ユーザー名</p>
        <input type="text" name="name">
	      <p>メールアドレス</p>
        <input type="text" name="email">
        <p>パスワード</p>
        <input type="password" name="password">
        <p>再度パスワードを入力してください</p>
        <input type="password" name="check_password">
        <input type="submit" value="投稿">
      <% end %>
	</div>
	<a href="/">TOP</a>
</div>