<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-6 col-md-8 mb-2 mx-auto">
            <div class="videos-new">
                <h2>動画を投稿しよう！</h2>
                <%= form_tag('/videos/create', {multipart: true}) do %>
                    <div class="row">
                        <div class="input-group mt-3 mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-btn">
                                    <span class="btn btn-info">
                                        動画を選択
                                        <input type="file" id="file" name="video" style="display:none">
                                    </span>
                                </label>
                            </div>
                            <div class="custom-file">
                            <input type="text" class="form-control" id="filename" readonly="" style="color: black;">
                            <label class="custom-file-label"></label>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mt-3 mb-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">グループ名</label>
                                </div>
                                <select name="group_id" class="custom-select">
                                    <option selected>未選択</option>
                                    <% if @groupUsers != nil %>
                                    <% @groupUsers.each do |groupUser| %>
                                    <option value="<%= groupUser.fetch_group.id %>"><%= groupUser.fetch_group.group_name %></option>
                                    <% end %>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mt-3 mb-3">
                            <button class="btn btn-light" type="submit">投稿する</button>
                        </div>
                    </div>
                    <% end %>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="form-row">
        <div class="col-lg-6 col-md-8 mb-2 mx-auto">
            <h3>Emailでログインする</h3>
        </div>
    </div>

        <div class="form-row">
            <div class="col-lg-6 col-md-8 mb-2 mx-auto mt-2">
                <label for="validationDefault01">Email</label>
                <input type="text" class="form-control" name="email" placeholder="" value="<%= @email %>" style="background-color: rgb(250, 255, 189)" required>
            </div>
        </div>
</div> -->