<div class="container">
  <div class="videos-container">
    <div class="videos-new">
      <h1>動画を投稿しよう！</h1>
      <%= form_tag('/videos/create', {multipart: true}) do %>
        <input type="file" name="video">
        <input type="submit" value="投稿">
      <% end %>
    </div>
  </div>
</div>