<div class="main-container">
  <div class="container">
    <h1>スポーツの動画を<br>
    	手軽にシェアしよう</h1>
    <p>練習動画を見てもっと上達しよう！</p>
    <div class="btn-wrapper">
  	  <a href="index" class="btn signup">マイページ</a>
	</div>
  </div>
</div>