// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* メイン */
.main-container {
  text-align: center;
}

.btn-wrapper {
  padding: 40px;
}

.btn {
  padding: 12px 28px;
  color: white;
  background-color: white;
  border-radius: 4px;
}

.signup {
  background-color: rgba(219, 52, 88, 0.7);
}

.btn:hover {
  opacity: 1;
}